@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-beaufort-serif: 'BeaufortforLOL', serif;
  --color-yellow-dark: #aa7645;
  --color-yellow-pure: #c59154;
  --color-yellow-light: #e0ac63;
  --color-white-dark: #999186;
  --color-white-pure: #ccc2b3;
  --color-white-light: #fff2e0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-beaufort-serif), serif;
  background: url('../public/bg.jpg') no-repeat 0 0 / cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
