@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow-dark: #aa7645;
  --color-yellow-pure: #c59154;
  --color-yellow-light: #e0ac63;
  --color-white-dark: #999186;
  --color-white-pure: #ccc2b3;
  --color-white-light: #fff2e0;
  --color-black: #010a13;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-noto-sans), san-serif;
  font-weight: 500;
  background: url('/bg.jpg') no-repeat 0 0 / cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: var(--color-yellow-light);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  width: 10px;
  height: 1px;
  background: var(--color-yellow-light);
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}
.loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
